@import "tailwindcss";
@plugin "daisyui" {
  themes: garden;
}

[x-cloak] {
  display: none !important;
}

.toastify {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center;
  position: relative;
}
.toast-close {
  position: static !important;
  margin-left: 8px;
}
